<div>
    <h3>Page Model Operations</h3>
    <dl>
        <dt>Transient</dt>
        <dd>@ViewBag.Transient.OperationId</dd>
        <dt>Scoped</dt>
        <dd>@ViewBag.Scoped.OperationId</dd>
        <dt>Singleton</dt>
        <dd>@ViewBag.Singleton.OperationId</dd>
        <dt>Instance</dt>
        <dd>@ViewBag.SingletonInstance.OperationId</dd>
    </dl>
    
    <h3>OperationService Operations</h3>
    <dl>
        <dt>Transient</dt>
        <dd>@ViewBag.OperationService.TransientOperation.OperationId</dd>
        <dt>Scoped</dt>
        <dd>@ViewBag.OperationService.ScopedOperation.OperationId</dd>
        <dt>Singleton</dt>
        <dd>@ViewBag.OperationService.SingletonOperation.OperationId</dd>
        <dt>Instance</dt>
        <dd>@ViewBag.OperationService.SingletonInstanceOperation.OperationId</dd>
    </dl>
</div>