@using Microsoft.Extensions.Configuration.UserSecrets
@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manage users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3>

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Email</td>
    </tr>
    </thead>
    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table>

<h3>Everyone</h3>

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>Delete</td>
    </tr>
    </thead>
    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>
                <button type="button" onclick="location.href='@Url.Action("Delete", "ManageUsers", new { userId = user.Id })'">
                    Delete
                </button>
            </td>
        </tr>
    }
</table>
